* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.section-1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.section-2 {
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 400px;
    vertical-align: top;
}

.section-2__button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
}

.section-2__img {
    width: 200px;
    height: 300px;

}

.section-3 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

.section-3__table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.section-3__input {
    display: inline-block;
    width: 200px;
    height: 20px;
    margin: 3px;
}

.section-3__button {
    background-color: yellow;
    color: black;
    width: 400px;
    height: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
}